.header {
  background-color: #2a2c2f;
  text-align: center;
}
.header__logo {
  max-width: 270px;
  height: 70px;
  margin: 34px auto 0;
}
@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 270px;
    height: 70px;
    margin: 34px auto 0;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 200px;
    height: 52px;
    margin: 20px auto 0;
  }
}
